<html>
  <head>
    <title>Express handlebars</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on("update", function(data){
            const year = document.getElementById("year");
            const month = document.getElementById("month");
            const day = document.getElementById("day");
            const hour = document.getElementById("hour");
            const minute = document.getElementById("minute");
            const second = document.getElementById("second");

            year.innerHTML = data.year;
            month.innerHTML = data.month;
            day.innerHTML = data.day;
            hour.innerHTML = data.hour;
            minute.innerHTML = data.minute;
            second.innerHTML = data.second;
        });
    </script>
  </body>
</html>
