<html prefix="og: http://ogp.me/ns#">

<head>
  <title>Bannerlord when?</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="Bannerlord when?" />
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://bannerlord-when.herokuapp.com/" />
  <meta property="og:image" content="https://images5.alphacoders.com/548/thumb-1920-548769.jpg" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/vendor/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  {{{body}}}
  <script src="/socket.io/socket.io.js"></script>
  <script>

    var socket = io();
    socket.on("update", function (data) {
      const year = document.getElementById("year");
      const month = document.getElementById("month");
      const day = document.getElementById("day");
      const hour = document.getElementById("hour");
      const minute = document.getElementById("minute");
      const second = document.getElementById("second");

      year.innerHTML = data.year;
      month.innerHTML = data.month;
      day.innerHTML = data.day;
      hour.innerHTML = data.hour;
      minute.innerHTML = data.minute;
      second.innerHTML = data.second;
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="/script/vendor/owl.carousel.min.js"></script>
  <script src="/script/script.js"></script>


</body>

</html>