<html>

<head>
  <title>Express handlebars</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
</head>

<body>
  {{{body}}}
  <script src="/socket.io/socket.io.js"></script>
  <script>

    var socket = io();
    socket.on("update", function (data) {
      const year = document.getElementById("year");
      const month = document.getElementById("month");
      const day = document.getElementById("day");
      const hour = document.getElementById("hour");
      const minute = document.getElementById("minute");
      const second = document.getElementById("second");

      year.innerHTML = data.year;
      month.innerHTML = data.month;
      day.innerHTML = data.day;
      hour.innerHTML = data.hour;
      minute.innerHTML = data.minute;
      second.innerHTML = data.second;
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
  <script src="script/cardListener.js"></script>


</body>

</html>