body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images5.alphacoders.com/548/thumb-1920-548769.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    padding: 0;
    text-align: center;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Head Title ORDER 1 */

.header-title {
    color: white;
    font-family: Mordred;
    align-self: inherit;
    font-size: 90%;
    margin: 1rem;
    font-size: 5rem;
    order: 0;
}

/* TIMER ORDER 2 */
.timer-container {
    text-align: center;
    left: 50%;
    order: 1;
    justify-content: center;
}

.timer {
    color: white;
    font-family: Mordred;
    align-self: inherit;
    font-size: xx-large;

}

@font-face {
    font-family: Mordred;
    src: url('/fonts/mordred.ttf');
}

h2 {
    font-family: Mordred;
    font-size: xx-large;
    color: white;
}

/* CARD */
.owl-item .card {
    width: 13rem;
    height: auto;
    cursor: pointer;
    margin: 3% 4%;
    transition: margin 0.4s ease;
}

.card-content p {
    font-family: Mordred;
    font-size: 16px;
    display: inline;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    display: inline;
}

/* OWL Container ORDER 3 */

/* .owl-container{
    padding-top: 2rem;
    width: 40rem;
    margin: auto;
    height: 50%;
} */
.owl-carousel {
    order: 2;
}

.owl-carousel .owl-stage-outer {
    height: auto;
    padding: 2rem;
}

.owl-item.active.center {
    height: auto;
    width: wrap;
    transform: scale(1.1, 1.2);
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .header-title {
        font-size: 3rem;
    }

    .owl-carousel .owl-stage-outer {
        padding: 2rem 0;
    }

    .owl-item.active.center {
        transform: scale(1.2, 1.2);
    }

    .owl-item .card {
        width: auto;
    }

    .card-body {
        padding: 5px;
        min-height: 100px;
    }

    .card-body .card-title {
        font-size: 16px;
        margin: 0;
    }

    .card-body .card-text {
        font-size: 12px;
    }

    .card-img-top {
        height: 100%;
        max-height: 100px;
    }
}