body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images5.alphacoders.com/548/thumb-1920-548769.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

h1{
    color: white;
        font-family: Mordred;
        align-self: inherit;
        font-size: larger;
        margin: 2rem;
        font-size: -webkit-xxx-large;
}

/* .owl-container{
    padding-top: 2rem;
    width: 40rem;
    margin: auto;
    height: 50%;
} */
.owl-carousel{
    z-index: 1;
}

.owl-carousel .owl-stage-outer{
    height: auto;
    padding: 2rem;
    
}

.owl-item.active.center {
    height: auto;
    width: wrap;
    transform: scale(1.1, 1.2);
}

/* TIMER */
.timer-container{
    text-align: center;
    left: 50%;
    z-index: 0;
}

    .timer{
        color: white;
        font-family: Mordred;
        align-self: inherit;
        font-size: xx-large;

    }

    @font-face {
        font-family: Mordred;
        src: url('/fonts/mordred.ttf');
    }

    h2{
        font-family: Mordred;
        font-size: xx-large;
        color: white;
}

/* CARD */
.owl-item .card {
    width: 13rem;
    height: auto;
    cursor: pointer;
    margin: 3% 4%;
    transition: margin 0.4s ease;
}

.card-content p {
    font-family: Mordred;
    font-size: 16px;
    display: inline;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    display: inline;
}